{% set tx_status = 'pending'|t %}

{% if info %}
  {% set headers = ['key'|t, 'value'|t] %}
  {% set rows = [] %}

  {% set row = ['hash'|t, hash] %}
  {% set rows = rows|merge([row]) %}

  {% for key, value in info %}
    {% if value is iterable %}
      {% set value = value|join('<br>') %}
    {% endif %}

    {% set row = [
      key,
      {'data':
        {'#markup': '<pre>' ~ value ~ '</pre>'}
      }
    ] %}
    {% set rows = rows|merge([row]) %}

    {# Get status #}
    {% if key == 'blockNumber' and value|length > 0 %}
      {% set tx_status = 'confirmed'|t %}
    {% endif %}
  {% endfor %}

  {%
    set table = {
      '#theme': 'table',
      '#header': headers,
      '#rows': rows,
      '#caption': 'Block details'|t,
    }
  %}
{% endif %}

<div {{ attributes.addClass('ethereum-transaction') }}>
	<p>{{ 'Status: @status'|t({'@status': tx_status}) }}</p>

  {# @todo Create filter to convert chain ID to label. #}
	<p>{{ 'Submitted on chain: @chain'|t({'@chain': chainId}) }}</p>

  {% if table %}
    {{ table }}
  {% endif %}
</div>
