<div {{ attributes.addClass('ethereum-transaction-confirmation') }}>
	<p>{{ 'Transaction submitted on @chain'|t({'@chain': chainId}) }}</p>
	<p>{{ 'Hash:'|t }}<br><pre>{{ hash }}</pre></p>

  {% if show_watch_link %}
  	{% set url = path('ethereum.transaction.watch', {'hash': hash, 'network': chainId}) %}
	  <p><a href="{{ url }}" class="button">{{ 'Watch this transaction'|t }}</a></p>
  {% endif %}
</div>
